USE [Da]
GO
/****** Object:  Table [dbo].[AUCTIONS]    Script Date: 09/05/43 11:13:53 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUCTIONS](
	[AUCTION_ID] [int] NOT NULL,
	[START_PRICE] [numeric](18, 0) NULL,
	[Description] [nvarchar](200) NULL,
	[Reserve] [nvarchar](50) NULL,
	[increment] [int] NULL,
	[Expiration] [nvarchar](50) NULL,
	[client_id] [int] NULL,
 CONSTRAINT [PK_AUCTIONS] PRIMARY KEY CLUSTERED 
(
	[AUCTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bid]    Script Date: 09/05/43 11:13:53 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bid](
	[Bid_id] [int] NOT NULL,
	[price] [numeric](18, 0) NULL,
	[Time_Stamp] [date] NOT NULL,
	[Auction_id] [int] NULL,
	[pur_id] [int] NULL,
 CONSTRAINT [PK_Bid] PRIMARY KEY CLUSTERED 
(
	[Bid_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BILLING]    Script Date: 09/05/43 11:13:54 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILLING](
	[BILLING_ID] [int] NOT NULL,
	[WIN_ID] [int] NULL,
	[order_Date] [date] NULL,
	[Quantity] [nvarchar](50) NULL,
 CONSTRAINT [PK_BILLING] PRIMARY KEY CLUSTERED 
(
	[BILLING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 09/05/43 11:13:54 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[id] [int] NOT NULL,
	[EMAIL] [nvarchar](50) NULL,
	[PASSWORD] [nvarchar](50) NULL,
	[FRIST_NAME] [nvarchar](50) NULL,
	[LAST_NAME] [nvarchar](50) NULL,
	[CLINT_ADDRESS] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENT_PHONES]    Script Date: 09/05/43 11:13:54 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENT_PHONES](
	[ID] [int] NULL,
	[PHONE_NUMBER] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMMENT]    Script Date: 09/05/43 11:13:54 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMENT](
	[ID] [int] NULL,
	[COMMENT_DESCRIPTION] [nvarchar](100) NULL,
	[RATING] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HardWare]    Script Date: 09/05/43 11:13:54 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HardWare](
	[item_id] [int] NULL,
	[Storage] [nvarchar](50) NULL,
	[Speed] [nvarchar](50) NULL,
	[Memory] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Has]    Script Date: 09/05/43 11:13:54 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Has](
	[item_id] [int] NULL,
	[Bid_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[item]    Script Date: 09/05/43 11:13:54 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[item](
	[item_id] [int] NOT NULL,
	[Bid_Price] [numeric](18, 0) NULL,
	[Title] [varchar](50) NULL,
	[Description] [nvarchar](50) NULL,
	[Sup_Id] [int] NULL,
 CONSTRAINT [PK_item] PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[opreation_system]    Script Date: 09/05/43 11:13:54 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[opreation_system](
	[item_id] [int] NULL,
	[Author] [nvarchar](50) NULL,
	[cost] [numeric](18, 0) NULL,
	[version] [nvarchar](50) NULL,
	[Manufacturer] [nvarchar](50) NULL,
	[is_system_software] [bit] NULL,
	[year_of_manufacturing] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROCEED]    Script Date: 09/05/43 11:13:54 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROCEED](
	[SUPPLIER_ID] [int] NULL,
	[WINNER_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PURCHASER]    Script Date: 09/05/43 11:13:54 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PURCHASER](
	[ID] [int] NOT NULL,
	[SHIPPING_ADDRESS] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PURCHASER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUPPLIER]    Script Date: 09/05/43 11:13:54 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPPLIER](
	[ID] [int] NOT NULL,
	[ACCOUNT_NUMBER] [int] NULL,
 CONSTRAINT [PK_SUPPLIER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WINNER]    Script Date: 09/05/43 11:13:54 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WINNER](
	[ID] [int] NOT NULL,
 CONSTRAINT [PK_WINNER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AUCTIONS]  WITH CHECK ADD  CONSTRAINT [FK_AUCTIONS_Client] FOREIGN KEY([client_id])
REFERENCES [dbo].[Client] ([id])
GO
ALTER TABLE [dbo].[AUCTIONS] CHECK CONSTRAINT [FK_AUCTIONS_Client]
GO
ALTER TABLE [dbo].[Bid]  WITH CHECK ADD  CONSTRAINT [FK_Bid_AUCTIONS] FOREIGN KEY([Auction_id])
REFERENCES [dbo].[AUCTIONS] ([AUCTION_ID])
GO
ALTER TABLE [dbo].[Bid] CHECK CONSTRAINT [FK_Bid_AUCTIONS]
GO
ALTER TABLE [dbo].[Bid]  WITH CHECK ADD  CONSTRAINT [FK_Bid_PURCHASER] FOREIGN KEY([pur_id])
REFERENCES [dbo].[PURCHASER] ([ID])
GO
ALTER TABLE [dbo].[Bid] CHECK CONSTRAINT [FK_Bid_PURCHASER]
GO
ALTER TABLE [dbo].[BILLING]  WITH CHECK ADD  CONSTRAINT [FK_BILLING_WINNER] FOREIGN KEY([WIN_ID])
REFERENCES [dbo].[WINNER] ([ID])
GO
ALTER TABLE [dbo].[BILLING] CHECK CONSTRAINT [FK_BILLING_WINNER]
GO
ALTER TABLE [dbo].[CLIENT_PHONES]  WITH CHECK ADD  CONSTRAINT [FK_CLIENT_PHONES_Client] FOREIGN KEY([ID])
REFERENCES [dbo].[Client] ([id])
GO
ALTER TABLE [dbo].[CLIENT_PHONES] CHECK CONSTRAINT [FK_CLIENT_PHONES_Client]
GO
ALTER TABLE [dbo].[COMMENT]  WITH CHECK ADD  CONSTRAINT [FK_COMMENT_Client] FOREIGN KEY([ID])
REFERENCES [dbo].[Client] ([id])
GO
ALTER TABLE [dbo].[COMMENT] CHECK CONSTRAINT [FK_COMMENT_Client]
GO
ALTER TABLE [dbo].[HardWare]  WITH CHECK ADD  CONSTRAINT [FK_HardWare_item] FOREIGN KEY([item_id])
REFERENCES [dbo].[item] ([item_id])
GO
ALTER TABLE [dbo].[HardWare] CHECK CONSTRAINT [FK_HardWare_item]
GO
ALTER TABLE [dbo].[Has]  WITH CHECK ADD  CONSTRAINT [FK_Has_Bid] FOREIGN KEY([Bid_id])
REFERENCES [dbo].[Bid] ([Bid_id])
GO
ALTER TABLE [dbo].[Has] CHECK CONSTRAINT [FK_Has_Bid]
GO
ALTER TABLE [dbo].[Has]  WITH CHECK ADD  CONSTRAINT [FK_Has_item] FOREIGN KEY([item_id])
REFERENCES [dbo].[item] ([item_id])
GO
ALTER TABLE [dbo].[Has] CHECK CONSTRAINT [FK_Has_item]
GO
ALTER TABLE [dbo].[item]  WITH CHECK ADD  CONSTRAINT [FK_item_SUPPLIER] FOREIGN KEY([Sup_Id])
REFERENCES [dbo].[SUPPLIER] ([ID])
GO
ALTER TABLE [dbo].[item] CHECK CONSTRAINT [FK_item_SUPPLIER]
GO
ALTER TABLE [dbo].[opreation_system]  WITH CHECK ADD  CONSTRAINT [FK_opreation_system_item] FOREIGN KEY([item_id])
REFERENCES [dbo].[item] ([item_id])
GO
ALTER TABLE [dbo].[opreation_system] CHECK CONSTRAINT [FK_opreation_system_item]
GO
ALTER TABLE [dbo].[PROCEED]  WITH CHECK ADD  CONSTRAINT [FK_PROCEED_SUPPLIER] FOREIGN KEY([SUPPLIER_ID])
REFERENCES [dbo].[SUPPLIER] ([ID])
GO
ALTER TABLE [dbo].[PROCEED] CHECK CONSTRAINT [FK_PROCEED_SUPPLIER]
GO
ALTER TABLE [dbo].[PROCEED]  WITH CHECK ADD  CONSTRAINT [FK_PROCEED_WINNER] FOREIGN KEY([WINNER_ID])
REFERENCES [dbo].[WINNER] ([ID])
GO
ALTER TABLE [dbo].[PROCEED] CHECK CONSTRAINT [FK_PROCEED_WINNER]
GO
ALTER TABLE [dbo].[PURCHASER]  WITH CHECK ADD  CONSTRAINT [FK_PURCHASER_Client] FOREIGN KEY([ID])
REFERENCES [dbo].[Client] ([id])
GO
ALTER TABLE [dbo].[PURCHASER] CHECK CONSTRAINT [FK_PURCHASER_Client]
GO
ALTER TABLE [dbo].[SUPPLIER]  WITH CHECK ADD  CONSTRAINT [FK_SUPPLIER_Client] FOREIGN KEY([ID])
REFERENCES [dbo].[Client] ([id])
GO
ALTER TABLE [dbo].[SUPPLIER] CHECK CONSTRAINT [FK_SUPPLIER_Client]
GO
ALTER TABLE [dbo].[WINNER]  WITH CHECK ADD  CONSTRAINT [FK_WINNER_Client] FOREIGN KEY([ID])
REFERENCES [dbo].[Client] ([id])
GO
ALTER TABLE [dbo].[WINNER] CHECK CONSTRAINT [FK_WINNER_Client]
GO
